<!DOCTYPE html>

<head>
</head>

<body>
<h1> Need (free) good advice?</h1>


<form action="/answer" method="post">
1. Choose the characteristic that best describes you:

    <select name="char">
        <option value="adventurous"> Adventurous </option>
        <option value="happy"> Happy </option>
        <option value="shy"> Shy </option>
    </select>

    <br>

2. Next choose where you live at the moment:

    <select name="live">
        <option value="countryside"> Countryside </option>
        <option value="city"> City </option>

    </select>

    <br>

    <button type="submit">Submit</button>
</form>
</body>
